body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #eeeef3;
}

form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
form form-heading,
form .checkbox {
  margin-bottom: 10px;
}
form .checkbox {
  font-weight: normal;
}
form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  font-size: 14px;
}
form .form-control:focus {
  z-index: 2;
}

.table-nonfluid {
   width: 300px !important;
}
.center-table {
  margin: 0 auto !important;
  float: none !important;
}

td, th {
  text-align: center;
  border: 1px solid #000 !important;
  font-size: 14px;
}
.thead-inverse tr th {
  color: #fff;
  background: #373A3C;
}
tr {
  background: #fff;
}

.cur_state {
  background-color: #FFB6C1;
}

#fName, #outputDFA {
  width: 300px;
  padding: 5px;
  font-size: 14px;
  margin: 10px auto;
}
